
<ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-toolbar>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="menu-outline" style="font-size: 40px; margin-top: 12px;"></ion-icon> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let card of cards">
    <ion-card-header>
      
      <ion-card-title>{{ card.titulo }}</ion-card-title>
      <ion-card-subtitle>{{ card.subtitulo }}</ion-card-subtitle>
      <ion-chip style="margin-top: 15px;">
        <ion-label color="secondary">Comprar</ion-label>
      </ion-chip>
    </ion-card-header>
  
    <ion-card-content>
      {{ card.conteudo }}
      
        <ion-img [src]="card.foto"></ion-img>
        <ion-badge color="primary">11</ion-badge>
    </ion-card-content>
    
  </ion-card>
  
  
</ion-content>


<ion-fab vertical="top" horizontal="end"  slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"  style="color: black;"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="left" slot="fixed" style="margin-left: 120px; margin-bottom: 20px;">
  <ion-fab-button>
    <ion-icon name="heart-outline" style="color: black;"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-right: 120px; margin-bottom: 20px;">
  <ion-fab-button>
    <ion-icon name="cart-outline" style="color: black;"></ion-icon>
  </ion-fab-button>
</ion-fab>

